*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-left: 20%;
    display: flex;
    width: 50%;
    font-size: 100px;
}
.h1{
    color: blue;
}
.h2{
    color: red;
}
.h3{
    color: green;
}
.h4{
    color: yellow;
}
.h5{
    color: blue;
}.h6{
    color: red;
}
.query{
    position: relative;
    width: 500px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px;
    padding-left: 45px;
    padding-right: 60px;
}
.img1{
position: absolute;
top: 177px;
left: 480px;
}
.img2{
    position: absolute;
    top: 183px;
    left: 930px;  
}
.btn2{
    margin-top: 50px;
}
.btn{
    width: 150px;
    height: 30px;
    background-color: green;
    color: white;
}
@media  screen and (max-width:768px) {
    .container{
        width: 100%;
    }
    .logo{
        margin-left: 0;
        display: flex;
        width: 50%;
        font-size: 100px;
    }
    .img1{
        left: 150px;
        }
        .img2{
            left: 590px;  
        }
}
@media screen and (max-width:375px) {
    .container{
        width: 100%;
    }
    .logo{
        font-size: 50px;
    }
    .query{
        position: relative;
        width: 300px;
        height: 40px;
        border: 2px solid black;
        border-radius: 50px;
        padding-left: 45px;
        padding-right: 60px;
    }
    .img1{
        top: 91px;
        left: 50px;
        }
        .img2{
            top: 97px;
            left: 300px;  
        }
}